@using QLGV_2019.Models;
@{
    ViewBag.Title = "GiangVienInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    Tuple<Teacher, Major> item = new Tuple<Teacher, Major>(ViewBag.GV.Item1, ViewBag.GV.Item2);
}
<div class="container text-center">
    <h3>Thông Tin Cá Nhân</h3>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group input-group">
                    <span class="input-group-addon">Họ Và Tên</span>
                    <input class="form-control" value="@item.Item1.last_name @item.Item1.first_name" disabled />
                </div>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-3">
                <div class="form-group input-group">
                    <span class="input-group-addon">Ngày Sinh</span>
                    <input class="form-control" value="@item.Item1.date_of_birth" disabled />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5">
                <div class="form-group input-group">
                    <span class="input-group-addon">Số ĐT</span>
                    <input class="form-control" value="@item.Item1.phone" disabled />
                </div>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <div class="form-group input-group">
                    <span class="input-group-addon">Email</span>
                    <input class="form-control" value="@item.Item1.email" disabled />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5">
                <div class="form-group input-group">
                    <span class="input-group-addon">Ngành</span>
                    <input class="form-control" value="@item.Item2.name" disabled />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-7">
                <div class="form-group input-group">
                    <span class="input-group-addon">Địa Chỉ</span>
                    <input class="form-control" value="@item.Item1.address" disabled />
                </div>
            </div>
        </div>

    </div>
</div>