@using QLGV_2019.Models;
@using System.Collections.Generic;
@{
    ViewBag.Title = "Teacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="text-align:center">
    <h2>Danh sách giảng viên</h2>
</div>
<div class="form-inline">
    <label for="search">Tra cứu giảng viên:</label>
    <div class="form-group input-group">
        <input type="search" class="form-control" id="Search" placeholder="Ví dụ:201801...">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-info">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
        </span>
    </div>
</div>
<hr class="body-content" />
<div class="table-responsive scrollvert">
    <table class="table table-striped">
        <thead class="bg-info">
            <tr>
                <th>STT</th>
                <th>Mã Giảng Viên</th>
                <th>Họ Và Tên</th>
                <th>Khoa</th>
                <th>Mail</th>
                <th>Liên Lạc</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.GV != null)
            {
                List<Tuple<Teacher, Class, Major>> item = ViewBag.GV;
                for (int i = 0; i < item.Count; i++)
                {
                    <tr>
                        <td>@i</td>
                        <td>@item[i].Item1.id</td>
                        <td>@item[i].Item1.last_name @item[i].Item1.first_name</td>
                        <td>@item[i].Item3.name</td>
                        <td>@item[i].Item1.email</td>
                        <td>@item[i].Item1.phone</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>