@using QLGV_2019.Models;
@{
    ViewBag.Title = "RegisterSubject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/teacher.js" language="javascript"></script>

<div class="container text-center">
    <h3>List Subject</h3>
    <br />
    <table class="table table-responsive table-bordered">
        <tr>
            <th class="text-center">Mã Môn Học</th>
            <th class="text-center">Tên Môn Học</th>
            <th class="text-center">Lớp</th>
            <th class="text-center">Giảng Viên</th>
            <th class="text-center">Số Lượng</th>
            <th class="text-center">Ngày Bắt Đầu</th>
            <th class="text-center">Ngày Kết Thúc</th>
            <th class="text-center">Thao Tác</th>
        </tr>
        @if(ViewBag.MH != null)
        {
            List<Tuple<Subject, YearTerm, RegisterSubject, Class, Teacher>> item = ViewBag.MH;
            for(int i = 0; i < item.Count; i++)
            {
                <tr>
                    <td>@item[i].Item1.id</td>
                    <td>@item[i].Item1.sub_name</td>
                    <td>@item[i].Item4.id</td>
                    <td>@item[i].Item5.last_name @item[i].Item5.first_name</td>
                    <td>@item[i].Item1.numb_student</td>
                    <td>@item[i].Item2.day_start</td>
                    <td>@item[i].Item2.day_end</td>
                    <td>
                        <form action="~/Student/RegisterSubject" method="post">
                            <input type="hidden"  name="Id_Class" value="@item[i].Item4.id" />
                            <input type="hidden"  name="Id_Subject" value="@item[i].Item1.id" />
                            <input type="hidden"  name="Id_Teacher" value="@item[i].Item5.id" />
                            <input type="hidden"  name="Year_Term" value="@item[i].Item2.year_term" />
                            <input type="submit"  class="btn btn-info" value="Chọn"/>
                        </form>
                    </td>
                </tr>
            }
        }
    </table>
</div>

<hr />
<hr />

<div class="container text-center">
    <h3>Danh Sách Đã Đăng Kí</h3>
    <table class="table table-responsive table-bordered">
        <tr>
            <th class="text-center">Mã Môn Học</th>
            <th class="text-center">Tên Môn Học</th>
            <th class="text-center">Lớp</th>
            <th class="text-center">Giảng Viên</th>
            <th class="text-center">Ngày Bắt Đầu</th>
            <th class="text-center">Ngày Kết Thúc</th>
            <th class="text-center">Thao Tác</th>
            <th>
                @if (Session["student_subject"] != null)
                {
                    <form action="~/Student/RemoveAll" method="post">
                        <input class="btn btn-danger" type="submit" name="name" value="Remove All" />
                    </form>
                }
            </th>
        </tr>
        @if(ViewBag.DK != null)
        {
            List<Tuple<Subject, YearTerm, Class, Teacher>> item = ViewBag.DK;
            for(int i = 0; i < item.Count; i++)
            {
                <tr>
                    <td>@item[i].Item1.id</td>
                    <td>@item[i].Item1.sub_name</td>
                    <td>@item[i].Item3.id</td>
                    <td>@item[i].Item4.last_name @item[i].Item4.first_name</td>
                    <td>@item[i].Item2.day_start</td>
                    <td>@item[i].Item2.day_end</td>
                    <td>
                        <form action="~/Student/RemoveRegisterSubject" method="post">
                            <input type="hidden" name="Id_Class" value="@item[i].Item3.id" />
                            <input type="hidden" name="Id_Subject" value="@item[i].Item1.id" />
                            <input type="hidden" name="Id_Teacher" value="@item[i].Item4.id" />
                            <input type="submit" name="name" value="Bỏ Chọn" class="btn btn-warning" />
                        </form>
                    </td>
                </tr>
            }

        }
    </table>
    @if (Session["student_subject"] != null)
    {
        <a href="~/Student/SaveSubject" class="btn btn-group-lg btn-info">Lưu</a>
    }
    
</div>