@using QLGV_2019.Models;
@{
    ViewBag.Title = "CreateStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/teacher.js"></script>

<div class="form-inline">
    <label for="search">Tra cứu giảng viên:</label>
    <div class="form-group input-group">
        <input type="search" class="form-control" id="Search" placeholder="Ví dụ:201801...">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-info">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
        </span>
    </div>
    <div class="form-group pull-right">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalSt">
            <span class="glyphicon glyphicon-plus"></span> Thêm
        </button>
    </div>
</div>
<!--Modal Student-->
<div class="modal" id="modalSt" role="dialog">
    <div class="modal-dialog">
        <!--Madal Content-->
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm sinh Viên</h4>
            </div>

            <div class="modal-body">
                <form action="~/Member/CreateStudent" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            ID Student:
                        </label>
                        <div class="col-md-8">
                            <select name="Id" class="form-control" onclick="fill_in_form()" id="Id">
                                <option value=""></option>
                                @if (ViewBag.Account != null)
                                {
                                    foreach (var item in ViewBag.Account)
                                    {
                                        <option value="@item.id_number">@item.id_number</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">
                            First Name:
                        </label>
                        <div class="col-md-8">
                            <input type="text" name="First_Name" class="form-control" value="" id="First_Name" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">
                            Last Name:
                        </label>
                        <div class="col-md-8">
                            <input type="text" name="Last_Name" class="form-control" value="" id="Last_Name" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">
                            Ngành:
                        </label>
                        <div class="col-md-8">
                            <select class="form-control" name="Major_Name" id="Major_Name">
                                <option value=""></option>
                                @if (ViewBag.Nganh != null)
                                {
                                    foreach (var item in ViewBag.Nganh)
                                    {
                                        <option value="@item.name">@item.name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">
                            Chuyên Ngành:
                        </label>
                        <div class="col-md-8">
                            <select class="form-control" name="Specialized_Name">
                                <option value=""></option>
                                @if (ViewBag.ChuyenNganh != null)
                                {
                                    foreach (var item in ViewBag.ChuyenNganh)
                                    {
                                        <option value="@item.">@item.name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">Lớp:</label>
                        <div class="col-md-8">
                            <select name="Class_Name" class="form-control">
                                <option value=""></option>
                                @if (ViewBag.Lop != null)
                                {
                                    foreach (var item in ViewBag.Lop)
                                    {
                                        <option value="@item.id">@item.id</option>
                                    }
                                }
                            </select>

                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-4">
                            Date:
                        </label>
                        <div class="col-md-8">
                            <input type="date" name="Date_Of_Birth" class="form-control" value="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">
                            Phone:
                        </label>
                        <div class="col-md-8">
                            <input type="number" name="Phone" class="form-control" value="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">
                            Email:
                        </label>
                        <div class="col-md-8">
                            <input type="text" name="Email" class="form-control" value="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">
                            Address:
                        </label>
                        <div class="col-md-8">
                            <input type="text" name="Address" class="form-control" value="" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success" value="Create">
                        <span class="glyphicon glyphicon-save"></span> Lưu
                    </button>
                </form>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-danger pull-left">
                    <span class="glyphicon glyphicon-trash"></span> Xóa
                </button>

                
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<hr />
<div class="body-content container text-center">
    <h3>Danh sách Sinh viên</h3>
    <br />
    <div class="table-responsive scrollvert">
        <table class="table table-bordered">
            <thead class="bg-info">
                <tr>
                    <th>Mã Sinh Viên</th>
                    <th>Họ Và Tên</th>
                    <th>Ngày Sinh</th>
                    <th>Địa Chỉ</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Khoa</th>
                    <th>Chuyên Ngành</th>
                    <th>Lớp</th>
                </tr>
            </thead>

            <tbody>
                @if (ViewBag.SV != null)
                {
                    List<Tuple<Student, Major, Specialized, Class>> tmp = ViewBag.SV;
                    for (int i = 0; i < tmp.Count; i++)
                    {
                        <tr>
                            <td>@tmp[i].Item1.id</td>
                            <td>@tmp[i].Item1.last_name @tmp[i].Item1.first_name</td>
                            <td>@tmp[i].Item1.date_of_birth</td>
                            <td>@tmp[i].Item1.address</td>
                            <td>@tmp[i].Item1.email</td>
                            <td>@tmp[i].Item1.phone</td>
                            <td>@tmp[i].Item2.name</td>
                            <td>@tmp[i].Item3.name</td>
                            <td>@tmp[i].Item4.id</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    
</div>
